 .login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.login-page img{
    position: absolute;
    /* z-index: 1; */
    width: 100%;
    height: 100vh;

}

 .overlay{
    height: 100vh;
    width: 100vw;
    background-color: rgba(2, 1, 1, 0.4);
    display: block;
    position: absolute;
    z-index: 1;
}


.signup .name{
    display: flex;
}

.login-container, .signup-container{
    z-index: 5;
}

.login, .signup{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #a1a0a0;
    padding: 20px;
    width: 350px;
    height: 430px;
}


.firsName{
    margin-right: 5px;
}

.lastName{
    margin-left: 5px;
}

.name input{
    padding: 8px;
    border: none;
    width: 50%; 
    background-color: #fafdfd90;
    margin-top: 10px;
}


.field input, .checkout-btn, .login input, .register-btn input{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: none;
    background-color: #fafdfd90;
}

.btn, .btn{
    margin-top: 7px;
}
.login-btn input:hover, .checkout-btn:hover, .register-btn input:hover{
    background-color: #fafdfdad;
}

.register-btn p, .register-btn a, .login-btn p, .login-btn a{
    margin-top: 5px;
    text-decoration: none;
    color: rgb(8, 69, 167);
}

.login-btn a:hover, .register-btn a:hover{
    text-decoration: underline;
    color: rgb(4, 98, 250);
}

.login-btn p:hover, .register-btn p:hover{
    color:rgb(3, 96, 246);
}


.login-social-container{
    text-align: center;
    height: 100px;
}

.social{
    display: flex;
    justify-content: center;
}


.login-social:hover{
    margin: 15px;
    border: 1px solid rgb(245, 212, 4) !important;
    color: rgb(245, 212, 4) !important;
    width: 37px !important;
    height: 37px !important;
    padding: 8px;
    border-radius: 50%;
    transition: .500s ease-in-out;
}

