.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 239, 239);
    height: 55px;
    max-width: 100vw;
    padding: 0;
}

.nav-items {
    display: inline;
    margin-right: 30px;
}

.nav-brand img {
    width: 150px;
    margin-left: 30px;
}


.header-container {
    display: flex;
    justify-content: center;
    margin: 0;
}

.header-container a {
    text-decoration: none;

}

.nav-signOut ul li{
    margin-right: 50px;
}

.liItem {
    list-style: none;
}

.liItem a {
    color: rgb(2, 2, 2);
    margin: 0 5px;
}


.nav-item:hover {
    transition: .400s ease-in;
    color: white;
    color: #049cb7;
}

li .nav-item {
    padding: 5px 8px;
}

.liItem button {
    background-color: transparent;
    color: #EC4C36;
    font-weight: bold;
    border: none;
}

.liItem button:hover {
    color: #fb8d7e;
}

li .active-nav {
    font-weight: bold;
    padding: 5px 8px;
    color: #049cb7;
}

li .active-nav:hover {
    color: #049cb7;
}